* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #f7f4cb; */
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #cc3446,#f79f42,#f844cb);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0 50% ;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* found online bubbles with a similar style that I like the look of */

/* first bubble */
.bubble {
  position: absolute;
  text-align: center;
  font-family: "Honk", system-ui;
  font-size: 70px;
  z-index: 0;
  line-height: 150px;
  top: 17%;
  left: 7%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
  animation: animate 6s ease-in-out infinite;
}
/* second bubble */
.bubble:nth-child(2) {
  position: absolute;
  zoom: 0.7;
  top: 20%;
  left: 80%;
  animation-delay: 1s;
}
/* movement of bubble */
@keyframes animate {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}
/* bigger glare circle */
.bubble::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 60px;
  width: 60px;
  height: 30px;
  border-radius: 50%;
  transform: rotate(-35deg);
  background-color: white;
  z-index: 1;
  filter: blur(3px);
}
/* smaller glare circle */
.bubble::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 35px;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  transform: rotate(-55deg);
  background-color: white;
  z-index: 3;
  filter: blur(3px);
}
/* spans to give color and glare to the sides of bubbles
 left(2x) right top and bottom(contrasting glare) */
.bubble span {
  position: absolute;
  border-radius: 50%;
}
/* (1) is the text span */
.bubble span:nth-child(1) {
  inset: 10px;
  z-index: 2;
}
.bubble span:nth-child(2) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(10px);
}
.bubble span:nth-child(3) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(10px);
}
.bubble span:nth-child(4) {
  inset: 20px;
  border-top: 15px solid #ffeb3b;
  filter: blur(10px);
}
.bubble span:nth-child(5) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(15px);
}
.bubble span:nth-child(6) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(7px);
  transform: rotate(315deg);
}
#Print {
  position: absolute;
  top: 35%;
  left: 33%;
  font-size: 70px;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Fruit evolution chart placement and design */
.evolutionCircle {
  position: relative;
  top: 200px;
  left: 53%;
}

.evolutionCircle img {
  display: block;
  height: 300px;
  width: 300px;
}

.ChartText {
  position: absolute;
  top: -23%;
  left: -15%;
  /* transform: translate(-50%, -213%); */
  font-family: "Honk", system-ui;
  padding: 10px;
  font-size: 50px;
  width: 400px;
  text-align: center;
}

#music {
  position: absolute;
  top: 35%;
  left: 19%;
  z-index: 4;
}



#refreshbtn {
  position: absolute;
  top: 50%;
  zoom: 3;
}

.directions {
  position: absolute;
  width: 400px;
  height: 0px;
  top: 60%;
  left: 10%;
  font-family: "Protest Riot", sans-serif;
}